container_commands:
    00_install_flyway:
        command: "sudo wget -qO- https://repo1.maven.org/maven2/org/flywaydb/flyway-commandline/9.8.1/flyway-commandline-9.8.1-linux-x64.tar.gz | tar xvz && sudo ln -s `pwd`/flyway-9.8.1/flyway /usr/local/bin"
        ignoreErrors: true
        test: test ! -d "/usr/local/bin/flyway"