:root {
  --typography-primary-color: #1f1f1f;
  --typography-secondary-color: #545454;
  --color-primary: black;

  --input-border: #eeeeee;
  --input-border-active: #757575;

  --table-border: #e2e2e2;
  --table-row-fill: #f6f6f6;

  --font-family-primary: system-ui, 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  display: flex;
  align-items: center;

  font-family: var(--font-family-primary);
  color: var(--typography-primary-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  -webkit-print-color-adjust: exact;
}

.page-container {
  background: white;
  /* Size = A4 */
  width: 21cm;
  height: 29.7cm;
  padding: 24px;
  position: relative;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  border: 1px solid;
  border-color: var(--table-border);
  color: var(--typography-primary-color);
}

td,
th {
  padding: 12px 8px;
}

table tbody tr:nth-child(even) {
  background-color: var(--table-row-fill);
}

.header-container {
  margin-top: 24px;
  display: grid;
  grid-auto-flow: column;
}
