html
  head
    title icruiting-report
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    style
      include report.css
  body
    h1 Bewerber*innengutachten