:root {
  --typography-primary-color: #1f1f1f;
  --typography-secondary-color: #e7c8c8;
  --color-primary: black;
  --input-border: #eeeeee;
  --input-border-active: #757575;

  --font-family-primary: system-ui, 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
}

body {
  font-family: var(--font-family-primary);
  color: var(--typography-primary-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
}

.ic-font-300 {
  font-family: var(--font-family-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.ic-font-200 {
  font-family: var(--font-family-primary);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.ic-form {
  display: grid;
  grid-row-gap: 16px;
}

.ic-form-field-container {
  display: grid;
  grid-row-gap: 5px;
}
.ic-description {
  opacity: 0.6;
}
.ic-input {
  background: white;
  border: 1px solid var(--input-border);
  padding: 10px;
  border-radius: 2px;
}
.ic-input:focus {
  outline: none !important;
  border-color: var(--input-border-active);
}
.ic-textarea {
  resize: none;
  background: white;
  border: 1px solid var(--input-border);
  padding: 10px;
  border-radius: 2px;
}
.ic-textarea:focus {
  outline: none !important;
  border-color: var(--input-border-active);
}
.ic-select-container {
  position: relative;
  width: 100%;
}
.ic-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid var(--input-border);
  background: white;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  width: 100%;
  padding: 10px;
}
.ic-select:focus {
  outline: none !important;
  border-color: var(--input-border-active);
}
.ic-select-icon {
  position: absolute;
  height: 1em;
  width: auto;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
}

.ic-submit-button {
  background: none;
  background-color: var(--color-primary);
  padding: 8px 16px 10px;
  border-radius: 2px;
  border: none;
  color: white;
  margin-top: 10px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ic-submit-button .ic-spinner-container {
  display: none;
}

.ic-submit-button.ic-loading {
  pointer-events: none;
  flex-direction: column;
}

.ic-submit-button.ic-loading .ic-submitt-button-label {
  opacity: 0;
  height: 0;
}

.ic-submit-button.ic-loading .ic-spinner-container {
  display: flex;
}

.ic-spinner {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 3px solid;
  box-sizing: border-box;

  border-color: #333333;
  border-top-color: #cbcbcb;

  display: inline-block;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: spinnerAnimation;
}

@keyframes spinnerAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
